[submodule "wikibase/extensions/WikibaseLexeme"]
	path = wikibase/extensions/WikibaseLexeme
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikibaseLexeme
[submodule "wikibase/extensions/CLDR"]
	path = wikibase/extensions/CLDR
	url = https://github.com/wikimedia/mediawiki-extensions-cldr.git
[submodule "ansible/roles/geerlingguy.firewall"]
	path = ansible/roles/geerlingguy.firewall
	url = https://github.com/geerlingguy/ansible-role-firewall.git
[submodule "ansible/roles/geerlingguy.security"]
	path = ansible/roles/geerlingguy.security
	url = https://github.com/geerlingguy/ansible-role-security.git
[submodule "ansible/roles/geerlingguy.nginx"]
	path = ansible/roles/geerlingguy.nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git
[submodule "ansible/roles/geerlingguy.docker"]
	path = ansible/roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
[submodule "ansible/roles/geerlingguy.git"]
	path = ansible/roles/geerlingguy.git
	url = https://github.com/geerlingguy/ansible-role-git.git
[submodule "ansible/roles/geerlingguy.pip"]
	path = ansible/roles/geerlingguy.pip
	url = https://github.com/geerlingguy/ansible-role-pip.git
[submodule "ansible/roles/geerlingguy.certbot"]
	path = ansible/roles/geerlingguy.certbot
	url = https://github.com/geerlingguy/ansible-role-certbot.git
