{:deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  org.clojure/data.csv              {:mvn/version "1.0.1"}
  org.clojure/tools.cli             {:mvn/version "0.4.2"}
  metosin/jsonista                  {:mvn/version "0.3.5"}
  com.taoensso/timbre               {:mvn/version "5.2.1"}
  lambdaisland/uri                  {:mvn/version "1.13.95"}
  hato/hato                         {:mvn/version "0.8.2"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.2.753"}
  com.github.seancorfield/honeysql  {:mvn/version "2.1.818"}
  mysql/mysql-connector-java        {:mvn/version "8.0.19"}
  io.github.cdimascio/dotenv-java   {:mvn/version "2.2.0"}
  io.github.gremid/data.xml         {:git/sha    "0d63b18b3581f8977202375b434fbf46e5e6fda6"
                                     :exclusions [net.sf.saxon/Saxon-HE
                                                  org.kohsuke.rngom/rngom
                                                  org.relaxng/jing
                                                  org.relaxng/trang]}
  io.github.gremid/julesratte       {:git/sha      "82674c481562f1f11d21ed3b0dff0a2c359cbafd"
                                     #_:local/root #_ "../julesratte"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha       {:mvn/version "1.66.1034"}
                       com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}}
         :exec-fn     kaocha.runner/exec-fn}}}
